body
{
    background-color: #0D0D0D;
}

.meal-image
{
    position: relative;
    cursor: pointer;
    
}
.layer
{
    background-color: #ffffffa1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: top .5s;
}
.meal-image:hover .layer
{
    top: 0;
}

.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }

  
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
    
.loading
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside
{
   
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
   

   
}
aside .content
{
    background-color:black;
   padding: 20px 40px;
   white-space: nowrap;
   display: none;
}

aside .icons
{
    
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
   justify-content: space-between;
 width: 70px;
   align-items: center;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

aside .icons .logo img
{
    width:70%;
 
}
aside .icons .menu i
{
font-size: 30px;    
cursor: pointer;
}

aside .icons .social i
{
font-size: 25px;
cursor: pointer;
}

aside .content .contentdata
{
  /* background-color: beige; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .content .contentdata .links ul li
{
  cursor: pointer;
}

::placeholder
{
    color: #A8B6B6 !important;
}

.location
{
  cursor: pointer;
}

.Ingredientp
{
  max-height: 100px;
  overflow: hidden;
}
